body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0.125in;
}
 
@media print {
   body {
        -webkit-print-color-adjust: exact;  /* Ensures that colors are preserved in WebKit browsers */
        color-adjust: exact;                /* Ensures that colors are preserved in modern browsers */
    }
    
    :root {
        --rg-title-font-size: 0.75em;
        --rg-companyname-font-size: 0.62em;
        --rg-copyright-font-size: 0.37em;
        --rg-max-width: 1024px;
    }
}

@media screen {
    :root {
        --rg-title-font-size: 1.5em;
        --rg-companyname-font-size: 1.25em;
        --rg-copyright-font-size: 0.75em;
        --rg-max-width: 1024px;
    }
}

#radar-graph-grid {
    margin: 0 auto;      /* Center the container */
    max-width: var(--rg-max-width);
    width: 100%;         /* Make it responsive */
    padding: 10px;
    background-color: #f4f4f4; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
}

#graph-container{
    height: 350px;
}

/* Remove the background color for selected rows */
table.dataTable tbody tr.selected>* {
    color: rgb(33, 37, 41) !important;
    box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0) !important;
}

.dt-button, .btn {
    font-size: var(--bs-body-font-size);
}

.solo-check {
    /*text-align: right;*/
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}

.arrow {
    color: darkgray;
}

.copyright {
    font-size: var(--rg-copyright-font-size);
    font-family: "Roboto Condensed", san-serif;
    text-align: center;
    padding: 10px;
}

body {
    --bs-body-font-size: 12px;
}

