.mover-highlight {
  background-color: hsl(358, 85%, 90%) !important;
  color: hsl(358, 85%, 32%) !important;
}

.doer-highlight {
  background-color: hsl(28, 92%, 92%) !important;
  color: hsl(28, 92%, 34%) !important;
}

.influencer-highlight {
  background-color: hsl(48, 100%, 90%) !important;
  color: hsl(48, 100%, 32%) !important;
}

.responder-highlight {
  background-color: hsl(274, 54%, 90%) !important;
  color: hsl(274, 54%, 21%) !important;
}

.shaper-highlight {
  background-color: hsl(218, 52%, 90%) !important;
  color: hsl(218, 52%, 32%) !important;
}

.producer-highlight {
  background-color: hsl(151, 26%, 84%) !important;
  color: hsl(152, 100%, 15%) !important;
}

.contemplator-highlight {
  background-color: hsl(196, 73%, 92%) !important;
  color: hsl(196, 73%, 34%) !important;
}

.overallIntensity-highlight {
  background-color: #bdbbbb !important;
  color: black !important;
}

.mover-background {
  background-color: hsl(358, 85%, 52%) !important;
}

.mover-border-top {
  border-top: 2px solid hsl(358, 85%, 52%) !important;
}

.mover-text-color {
  color: hsl(358, 85%, 52%) !important;
}

.doer-background {
  background-color: hsl(28, 92%, 54%) !important;
}

.doer-border-top {
  border-top: 2px solid hsl(28, 92%, 54%) !important;
}

.doer-text-color {
  color: hsl(28, 92%, 54%) !important;
}

.influencer-background {
  background-color: hsl(48, 100%, 52%) !important;
}

.influencer-border-top {
  border-top: 2px solid hsl(48, 100%, 52%) !important;
}

.influencer-text-color {
  color: hsl(48, 100%, 52%) !important;
}

.responder-background {
  background-color: hsl(274, 54%, 41%) !important;
}

.responder-border-top {
  border-top: 2px solid hsl(274, 54%, 41%) !important;
}

.responder-text-color {
  color: hsl(274, 54%, 41%) !important;
}

.shaper-background {
  background-color: hsl(218, 52%, 52%) !important;
}

.shaper-border-top {
  border-top: 2px solid hsl(218, 52%, 52%) !important;
}

.shaper-text-color {
  color: hsl(218, 52%, 52%) !important;
}

.producer-background {
  background-color: hsl(152, 100%, 20%) !important;
}

.producer-border-top {
  border-top: 2px solid hsl(152, 100%, 20%) !important;
}

.producer-text-color {
  color: hsl(152, 100%, 20%) !important;
}

.contemplator-background {
  background-color: hsl(196, 73%, 54%) !important;
}

.contemplator-border-top {
  border-top: 2px solid hsl(196, 73%, 54%) !important;
}

.contemplator-text-color {
  color: hsl(196, 73%, 54%) !important;
}

.overallIntensity-background {
  background-color: #7f7f7f !important;
}

.overallIntensity-border-top {
  border-top: 2px solid #7f7f7f !important;
}

.overallIntensity-text-color {
  color: #7f7f7f !important;
}

.mover-light-background {
  background-color: hsl(358, 85%, 90%) !important;
}

.doer-light-background {
  background-color: hsl(28, 92%, 92%) !important;
}

.influencer-light-background {
  background-color: hsl(48, 100%, 90%) !important;
}

.responder-light-background {
  background-color: hsl(274, 54%, 90%) !important;
}

.shaper-light-background {
  background-color: hsl(218, 52%, 90%) !important;
}

.producer-light-background {
  background-color: hsl(151, 26%, 84%) !important;
}

.contemplator-light-background {
  background-color: hsl(196, 73%, 92%) !important;
}

.overallIntensity-light-background {
  background-color: #bdbbbb !important;
}

.mover-dark-text-color {
  color: hsl(358, 85%, 32%) !important;
}

.doer-dark-text-color {
  color: hsl(28, 92%, 34%) !important;
}

.influencer-dark-text-color {
  color: hsl(48, 100%, 32%) !important;
}

.responder-dark-text-color {
  color: hsl(274, 54%, 21%) !important;
}

.shaper-dark-text-color {
  color: hsl(218, 52%, 32%) !important;
}

.producer-dark-text-color {
  color: hsl(152, 100%, 15%) !important;
}

.contemplator-dark-text-color {
  color: hsl(196, 73%, 34%) !important;
}

.overallIntensity-dark-text-color {
  color: black !important;
}

.acceptanceLevel-highlight {
  background-color: #f7d4d6 !important;
  color: #8a1921 !important;
}

.interactiveStyle-highlight {
  background-color: #f6d4f7 !important;
  color: #861a89 !important;
}

.internalControl-highlight {
  background-color: #fae2d1 !important;
  color: #934610 !important;
}

.intrusionLevel-highlight {
  background-color: #fbf3d0 !important;
  color: #977b0c !important;
}

.projectiveLevel-highlight {
  background-color: #e2f3d8 !important;
  color: #487d26 !important;
}

.susceptibilityToStress-highlight {
  background-color: #d8f3f0 !important;
  color: #267d72 !important;
}

.learningPreferenceAuditory-highlight {
  background-color: #d8e2f3 !important;
  color: #27467c !important;
}

.learningPreferencePhysical-highlight {
  background-color: #fef5cd !important;
  color: #a18402 !important;
}

.learningPreferenceVisual-highlight {
  background-color: #f8d3d7 !important;
  color: #8d1624 !important;
}

.acceptanceLevel-background {
  background-color: hsl(356, 69%, 43%) !important;
}

.acceptanceLevel-border-top {
  border-top: 2px solid hsl(356, 69%, 43%) !important;
}

.acceptanceLevel-text-color {
  color: hsl(356, 69%, 43%) !important;
}

.interactiveStyle-background {
  background-color: hsl(298, 68.5%, 45%) !important;
}

.interactiveStyle-border-top {
  border-top: 2px solid hsl(298, 68.5%, 45%) !important;
}

.interactiveStyle-text-color {
  color: hsl(298, 68.5%, 45%) !important;
}

.internalControl-background {
  background-color: hsl(24.5, 80%, 56%) !important;
}

.internalControl-border-top {
  border-top: 2px solid hsl(24.5, 80%, 56%) !important;
}

.internalControl-text-color {
  color: hsl(24.5, 80%, 56%) !important;
}

.intrusionLevel-background {
  background-color: hsl(48, 85.5%, 54.5%) !important;
}

.intrusionLevel-border-top {
  border-top: 2px solid hsl(48, 85.5%, 54.5%) !important;
}

.intrusionLevel-text-color {
  color: hsl(48, 85.5%, 54.5%) !important;
}

.projectiveLevel-background {
  background-color: hsl(97, 53%, 40.5%) !important;
}

.projectiveLevel-border-top {
  border-top: 2px solid hsl(97, 53%, 40.5%) !important;
}

.projectiveLevel-text-color {
  color: hsl(97, 53%, 40.5%) !important;
}

.susceptibilityToStress-background {
  background-color: hsl(172.5, 53.5%, 47%) !important;
}

.susceptibilityToStress-border-top {
  border-top: 2px solid hsl(172.5, 53.5%, 47%) !important;
}

.susceptibilityToStress-text-color {
  color: hsl(172.5, 53.5%, 47%) !important;
}

.learningPreferenceAuditory-background {
  background-color: hsl(218, 52%, 52%) !important;
}

.learningPreferenceAuditory-border-top {
  border-top: 2px solid hsl(218, 52%, 52%) !important;
}

.learningPreferenceAuditory-text-color {
  color: hsl(218, 52%, 52%) !important;
}

.learningPreferencePhysical-background {
  background-color: hsl(49, 97%, 58%) !important;
}

.learningPreferencePhysical-border-top {
  border-top: 2px solid hsl(49, 97%, 58%) !important;
}

.learningPreferencePhysical-text-color {
  color: hsl(49, 97%, 58%) !important;
}

.learningPreferenceVisual-background {
  background-color: hsl(353, 73%, 44%) !important;
}

.learningPreferenceVisual-border-top {
  border-top: 2px solid hsl(353, 73%, 44%) !important;
}

.learningPreferenceVisual-text-color {
  color: hsl(353, 73%, 44%) !important;
}

.acceptanceLevel-light-background {
  background-color: #f7d4d6 !important;
}

.interactiveStyle-light-background {
  background-color: #f6d4f7 !important;
}

.internalControl-light-background {
  background-color: #fae2d1 !important;
}

.intrusionLevel-light-background {
  background-color: #fbf3d0 !important;
}

.projectiveLevel-light-background {
  background-color: #e2f3d8 !important;
}

.susceptibilityToStress-light-background {
  background-color: #d8f3f0 !important;
}

.learningPreferenceAuditory-light-background {
  background-color: #d8e2f3 !important;
}

.learningPreferencePhysical-light-background {
  background-color: #fef5cd !important;
}

.learningPreferenceVisual-light-background {
  background-color: #f8d3d7 !important;
}

.acceptanceLevel-dark-text-color {
  color: #8a1921 !important;
}

.interactiveStyle-dark-text-color {
  color: #861a89 !important;
}

.internalControl-dark-text-color {
  color: #934610 !important;
}

.intrusionLevel-dark-text-color {
  color: #977b0c !important;
}

.projectiveLevel-dark-text-color {
  color: #487d26 !important;
}

.susceptibilityToStress-dark-text-color {
  color: #267d72 !important;
}

.learningPreferenceAuditory-dark-text-color {
  color: #27467c !important;
}

.learningPreferencePhysical-dark-text-color {
  color: #a18402 !important;
}

.learningPreferenceVisual-dark-text-color {
  color: #8d1624 !important;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.gray {
  color: gray;
}

.hidden {
  display: none;
}

.gap-compressed {
  color: 0x0d6efd;
}

.gap-expanded {
  color: #0d6efd;
}

/* Center the div vertically and horizontally */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/*# sourceMappingURL=Common.css.map */
