/* Small screens */
@media screen and (max-width: 600px) {
    .CIFormJSONGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "jsondata jsondata"
            "submit .";
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}
/* Larger screens */
@media screen and (min-width: 601px) {
    .CIFormJSONGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "jsondata jsondata jsondata jsondata jsondata jsondata jsondata jsondata"
            "submit . . . . . . .";
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}

.CIFormJSONData {
    grid-area: jsondata;
}
.CIFormJSONSubmit {
    grid-area: submit;
}

.CIFormLeftInputField {
    width: 100%;
    font-weight: 303;
    font-size: 1em;
    text-align: left;
}