/* Small screens */
@media screen and (max-width: 600px) {
    .CIFormGrid {
        background-color: red;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fullname companyname"
            "lifelanguagestitle lifelanguagestitle"
            "mover doer"
            "influencer responder"
            "shaper producer"
            "contemplator overallintensity"
            "communicationindicatorstitle communicationindicatorstitle"
            "acceptancelevel interactivestyle"
            "internalcontrol intrusionlevel"
            "projectivelevel susceptibilitytostress"
            "learningpreferencetitle learningpreferencetitle"
            "learningpreferencevisual learningpreferenceauditory"
            "learningpreferencephysical ."
            "showforensics showforensics"
            "submit .";
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}

/* Larger screens */
@media screen and (min-width: 601px) {
    .CIFormGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fullname fullname fullname fullname companyname companyname companyname companyname"
            "lifelanguagestitle lifelanguagestitle lifelanguagestitle lifelanguagestitle lifelanguagestitle lifelanguagestitle lifelanguagestitle lifelanguagestitle"
            "mover mover doer doer influencer influencer responder responder"
            "shaper shaper producer producer contemplator contemplator overallintensity overallintensity"
            "communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle communicationindicatorstitle"
            "acceptancelevel acceptancelevel interactivestyle interactivestyle internalcontrol internalcontrol intrusionlevel intrusionlevel"
            "projectivelevel projectivelevel susceptibilitytostress susceptibilitytostress susceptibilitytostress . . ."
            "learningpreferencetitle learningpreferencetitle learningpreferencetitle learningpreferencetitle learningpreferencetitle learningpreferencetitle learningpreferencetitle learningpreferencetitle"
            "learningpreferencevisual learningpreferencevisual learningpreferenceauditory learningpreferenceauditory learningpreferencephysical learningpreferencephysical . ."
            "showforensics showforensics showforensics . . . . .";
            "submit . . . . . . .";
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
    }
}
    
.CIFormFullName {
    grid-area: fullname;
}

.CIFormCompanyName {
    grid-area: companyname;
 }

.CIFormLifeLanguagesTitle {
    grid-area: lifelanguagestitle;
}

.CIFormMover {
    grid-area: mover;
}
.CIFormDoer {
    grid-area: doer;
}
.CIFormInfluencer {
    grid-area: influencer;
}
.CIFormResponder {
    grid-area: responder;
}
.CIFormShaper {
    grid-area: shaper;
}
.CIFormProducer {
    grid-area: producer;
}
.CIFormContemplator {
    grid-area: contemplator;
}

.CIFormOverallIntensity {
    grid-area: overallintensity;
}

.CIFormCommunicationIndicatorsTitle {
    grid-area: communicationindicatorstitle;
}
.CIFormAcceptanceLevel {
    grid-area: acceptancelevel;
}
.CIFormInteractiveStyle {
    grid-area: interactivestyle;
}
.CIFormInternalControl {
    grid-area: internalcontrol;
}
.CIFormIntrusionLevel {
    grid-area: intrusionlevel;
}
.CIFormProjectiveLevel {
    grid-area: projectivelevel;
}
.CIFormSusceptibilityToStress {
    grid-area: susceptibilitytostress;
}
.CIFormLearningPreferenceTitle {
    grid-area: learningpreferencetitle;
}
.CIFormLearningPreferenceVisual {
    grid-area: learningpreferencevisual;
}
.CIFormLearningPreferenceAuditory {
    grid-area: learningpreferenceauditory;
}
.CIFormLearningPreferencePhysical {
    grid-area: learningpreferencephysical;
}

.CIFormShowForensics {
    grid-area: showforensics;
}

.CIFormSubmit {
    grid-area: submit;
}

.CIFormLeftInputField
{
    width:100%;
    font-weight: 300;
    font-size: 1em;
    text-align: left;
}

.CIFormRightInputField
{
    width:100%;
    font-weight: 300;
    font-size: 1em;
    text-align: right;
}
