/* Alert box*/
.alert {
    color: darkred;
    background-color: lightpink;
    border-color: red;
    padding: 15px;
    border-right: 1px solid;
    border-bottom: 1px solid; 
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Close button on alert*/
.close {
    text-decoration: none;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
