body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0.125in;
}

@media print {
    :root {
        --rg-title-font-size: 0.75em;
        --rg-companyname-font-size: 0.62em;
        --rg-copyright-font-size: 0.37em;
    }
}

@media screen {
    :root {
        --rg-title-font-size: 1.5em;
        --rg-companyname-font-size: 1.25em;
        --rg-copyright-font-size: 0.75em;
    }
}

#the-grid {
    margin: 0 auto;      /* Center the container */
    max-width: 2048px;   /* Maximum width to match iPhone 16 in landscape */
    width: 100%;         /* Make it responsive */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}

#the-ll-table {
    margin-top: 12px;
}

#the-ll-table th, #the-ll-table td {
    border-color: #7f7f7f;
    border-width: thin;
    vertical-align: middle;
}

#the-ll-table > thead > tr > th {
    color: white;
    background-color: #585858;
    font-weight: 300;
}

#the-ll-table > tbody > tr > td {
    background-color: #f2f2f2;
}

#the-ll-table > tfoot > tr:first-child > td {
    font-weight: bold;
    background-color: #d9d9d9;
}

 /* Style for the second footer row */
#the-ll-table > tfoot > tr:nth-child(2) > td {
    font-weight: bold;
    background-color: #bdbbbb;
} 

.solo-check {
    /*text-align: right;*/
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
}

.arrow {
    color: darkgray;
}

.copyright {
    font-size: var(--rg-copyright-font-size);
    font-family: "Roboto Condensed", san-serif;
    text-align: center;
    padding: 10px;
}

/* Remove the background color for selected rows */
table.dataTable tbody tr.selected>* {
    color: rgb(33, 37, 41) !important;
    box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0) !important;
}

body {
    --bs-body-font-size: 12px;
}

.dt-button, .btn {
    font-size: var(--bs-body-font-size);
}

.table {
    border-collapse: collapse;
}

.table td, .table th {
    box-shadow: none;
    border-width: 1px !important;
}