body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#lg-grid {
    display: grid;
    grid-template-columns: 200px 175px repeat(2, 100px);
    grid-template-rows: 30px repeat(4, 50px) repeat(4, 37px) 50px 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.gray {
    color: gray;
}

#lg-fullname {
    grid-area: 1 / 1 / 2 / 5;
    font-size: 1.5em;
    text-align: left;
    border-style: hidden;
}

#lg-letter-1,
#lg-score-1,
#lg-llang-1,
#lg-letter-2,
#lg-score-2,
#lg-llang-2,
#lg-letter-3,
#lg-score-3,
#lg-llang-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
}

#lg-letter-1 {
    grid-area: 2 / 1 / 6 / 2;
    font-size: 8em;
    color: white;
    text-transform: uppercase;
    border-width: 2px 0px 1px 2px; /* top right bottom left */
}

#lg-score-1 {
    grid-area: 2 / 2 / 4 / 3;
    font-size: 4em;
    padding-top: 1em;
    border-width: 2px 1px 0px 0px; /* top right bottom left */
}

#lg-llang-1 {
    grid-area: 4 / 2 / 6 / 3;
    font-size: 1.5em;
    border-width: 0px 1px 1px 0px; /* top right bottom left */
}

#lg-letter-2 {
    grid-area: 2 / 3 / 4 / 4;
    font-size: 5em;
    padding: 0.075em;
    color: white;
    text-transform: uppercase;
    border-width: 2px 0px 1px 0px; /* top right bottom left */
}

#lg-score-2 {
    grid-area: 2 / 4 / 3 / 5;
    font-size: 2em;
    padding-top: 1em;
    border-width: 2px 2px 0px 0px; /* top right bottom left */
}

#lg-llang-2 {
    grid-area: 3 / 4 / 4 / 5;
    font-size: 1em;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-letter-3 {
    grid-area: 4 / 3 / 6 / 4;
    font-size: 5em;
    color: white;
    text-transform: uppercase;
    padding: 0.075em;
    border-width: 0px 0px 1px 0px; /* top right bottom left */
}
#lg-score-3 {
    grid-area: 4 / 4 / 5 / 5;
    font-size: 2em;
    padding-top: 1em;
    border-width: 0px 2px 0px 0px; /* top right bottom left */
}
#lg-llang-3 {
    grid-area: 5 / 4 / 6 / 5;
    font-size: 1em;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-letter-4,
#lg-score-4,
#lg-llang-4,
#lg-letter-5,
#lg-score-5,
#lg-llang-5,
#lg-letter-6,
#lg-score-6,
#lg-llang-6,
#lg-letter-7,
#lg-score-7,
#lg-llang-7 {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    padding: 0.4em;
    border-color: black;
    border-style: solid;
}

#lg-letter-4 {
    grid-area: 6 / 1 / 7 / 2;
    text-transform: uppercase;
    border-width: 0px 1px 1px 2px; /* top right bottom left */
}

#lg-score-4 {
    grid-area: 6 / 2 / 7 / 3;
    border-width: 0px 1px 1px 0px; /* top right bottom left */
}

#lg-llang-4 {
    grid-area: 6 / 3 / 7 / 5;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-letter-5 {
    grid-area: 7 / 1 / 8 / 2;
    text-transform: uppercase;
    border-width: 0px 1px 1px 2px; /* top right bottom left */
}

#lg-score-5 {
    grid-area: 7 / 2 / 8 / 3;
    border-width: 0px 1px 1px 0px; /* top right bottom left */
}

#lg-llang-5 {
    grid-area: 7 / 3 / 8 / 5;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-letter-6 {
    grid-area: 8 / 1 / 9 / 2;
    border-width: 0px 1px 1px 2px; /* top right bottom left */
}

#lg-score-6 {
    grid-area: 8 / 2 / 9 / 3;
    border-width: 0px 1px 1px 0px; /* top right bottom left */
}

#lg-llang-6 {
    grid-area: 8 / 3 / 9 / 5;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-letter-7 {
    grid-area: 9 / 1 / 10 / 2;
    border-width: 0px 1px 1px 2px; /* top right bottom left */
}

#lg-score-7 {
    grid-area: 9 / 2 / 10 / 3;
    border-width: 0px 1px 1px 0px; /* top right bottom left */
}

#lg-llang-7 {
    grid-area: 9 / 3 / 10 / 5;
    border-width: 0px 2px 1px 0px; /* top right bottom left */
}

#lg-range-title,
#lg-range-score,
#lg-overall-intensity-title,
#lg-overall-intensity {
    display: flex;
    justify-content: center;
    font-size: 1em;
    border-color: black;
    border-style: solid;
}

#lg-range-title {
    grid-area: 10 / 1 / 11 / 2;
    padding: 0.8em;
    border-width: 0px 0px 2px 2px; /* top right bottom left */
}

#lg-range-score {
    grid-area: 10 / 2 / 11 / 3;
    padding: 0.8em;
    border-width: 0px 1px 2px 0px; /* top right bottom left */
}

#lg-overall-intensity-title {
    grid-area: 10 / 3 / 11 / 4;
    padding: 0.3em;
    border-width: 0px 0px 2px 0px; /* top right bottom left */
}

#lg-overall-intensity {
    grid-area: 10 / 4 / 11 / 5;
    border-width: 0px 2px 2px 0px; /* top right bottom left */
}

#lg-overall-intensity-arrow {
    padding: 0.7em;
}

#lg-overall-intensity-score {
    padding: 0.8em
}

#lg-copyright {
    grid-area: 11 / 1 / 11 / 5;
    padding: 0.5em;
    font-family: "Roboto Condensed", san-serif;
    font-size: 0.75em;
    text-align: center;
}