body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0.25in;
}

 
@media print {
    :root {
        --rg-title-font-size: 0.75em;
        --rg-companyname-font-size: 0.62em;
        --rg-copyright-font-size: 0.37em;
        --rg-table-font-size: 0.5em;
    }
}

@media screen {
    :root {
        --rg-title-font-size: 1.5em;
        --rg-companyname-font-size: 1.25em;
        --rg-copyright-font-size: 0.75em;
        --rg-table-font-size: 0.75em;
    }
}

#radar-graph-grid {
    padding: 10px;
    border: 1px solid black;
}

/*
.title {
    font-size: var(--rg-title-font-size);
    text-align: left;
    border-style: hidden;
}

.companyname {
    font-size: var(--rg-companyname-font-size);
    text-align: left;
    border-style: hidden;
}
*/

.display {
    font-size: var(--rg-display-font-size);
    text-align: left;
    border-style: hidden;
}

.vheader {
    padding-right: 4px !important;
    text-align: right;
}

.vertical {
    writing-mode: vertical-lr; 
    transform:  rotate(180deg);
}

.solo-check {
    text-align: right;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

.score-table {
    table-layout:fixed;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.arrow {
    color: darkgray;
}

.copyright {
    font-size: var(--rg-copyright-font-size);
    font-family: "Roboto Condensed", san-serif;
    text-align: center;
    padding: 10px;
}