body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0.25in;
}

#radar-graph-grid {
    padding: 10px;
    border: 1px solid black;
}

.display {
    font-size: var(--rg-display-font-size);
    text-align: left;
    border-style: hidden;
}

.vheader {
    padding-right: 4px !important;
    text-align: right;
}

.vertical {
    writing-mode: vertical-lr; 
    transform:  rotate(180deg);
}

.solo-check {
    text-align: right;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

.score-table {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.arrow {
    color: darkgray;
}

.copyright {
    font-size: var(--rg-copyright-font-size);
    font-family: "Roboto Condensed", san-serif;
    text-align: center;
    padding: 10px;
}