body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0.25in;
}

 
@media print {
    :root {
        --rg-min-width: 300px;
        --rg-title-font-size: 0.75em;
        --rg-companyname-font-size: 0.62em;
        --rg-copyright-font-size: 0.37em;
        --rg-table-font-size: 0.5em;
    }
}

@media screen {
    :root {
        --rg-min-width: 450px;
        --rg-title-font-size: 1.5em;
        --rg-companyname-font-size: 1.25em;
        --rg-copyright-font-size: 0.75em;
        --rg-table-font-size: 0.75em;
    }
}

#radar-graph-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--rg-min-width), 1fr));
    /*grid-gap: 10px;*/
}

[id*="radar-graph-"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 7fr 4fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch;
    min-width: var(--rg-min-width);
    break-inside: avoid;
    padding: 10px;
}

.title {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: var(--rg-title-font-size);
    text-align: left;
    border-style: hidden;
}

.companyname {
    grid-area: 2 / 1 / span 1 / span 2;
    font-size: var(--rg-companyname-font-size);
    text-align: left;
    border-style: hidden;
}

.display {
    grid-area: 3 / 1 / span 1 / span 2;
    font-size: var(--rg-display-font-size);
    text-align: left;
    border-style: hidden;
    margin: 0px 10px;
    width: 100%;
    height: 100%;
}

.gray-background {
    background-color: darkgray;
}

.gray-light-background {
    background-color: lightgray;
}

table.score-table {
    grid-area: 4 / 1 / span 1 / span 2;
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 2fr repeat(7, 1fr);
    font-size: var(--rg-table-font-size);
    color: black;
}

table.score-table > thead,
table.score-table > tbody,
table.score-table > tfoot,
table.score-table tr {
    display: contents;
}

table.score-table th,
table.score-table td {
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.score-header th {
    position: sticky;
    top: 0;
    text-align: left;
    font-weight: bold;
    color: white;
}

.score-footer td {
    top: 0;
    text-align: left;
    font-weight: bold;
    color: white;
}

table.score-table td:nth-child(n+2),
table.score-table th:nth-child(n+2) {
    text-align: right;
}

.arrow {
    color: darkgray;
}

.copyright {
    grid-area: 5 / 1 / span 1 / span 2;
    font-size: var(--rg-copyright-font-size);
    font-family: "Roboto Condensed", san-serif;
    text-align: center;
    padding: 10px;
}